a{
  color:black !important;
}
.mycard{
 margin-top: 30px;
}
.auth-card{
  padding: 20px;
  margin:10px auto;
  text-align: center;
  max-width: 600px;
  max-height:600px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width:25%;
  margin: 5px;
 
}

.home-card{
  max-width: 500px;
  height: max-content; 
  margin: 26px auto;
}

#toast-container{
top:30px;
right:20px;
left:auto;
}